@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h3>Transient Service</h3>
@ViewBag.message1
</br>
@ViewBag.message2


<h3>Scoped Service</h3>
@ViewBag.message3
</br>
@ViewBag.message4


<h3>Singleton Service</h3>
@ViewBag.message5
</br>
@ViewBag.message6